<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Dev only: plain-http access to the local server (10.0.2.2 / LAN). Release uses https. -->
    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:usesCleartextTraffic="true"
        tools:node="merge" />
</manifest>
